 <div class="card-top container-fluid">
    <div class="container d-flex">
        <div class="item">
            <a >
                <h6  style="cursor: pointer;">Women</h6>
                <img style="cursor: pointer;" src="../../../assets/banner-01.jpg" alt="">
                
            </a>
        </div>
        <div class="item">
            <a >
                <h6  style="cursor: pointer;">Men</h6>
                <img  style="cursor: pointer;" src="../../../assets/banner-02.jpg" alt="">
                
            </a>
        </div>
        <div class="item">
            <a >

                <h6  style="cursor: pointer;">Accessories</h6>
                <img  style="cursor: pointer;" src="../../../assets/banner-03.jpg" alt="">
               
            </a>
        </div>
        
    </div>
</div> 






                       
               